{
    "semi": true,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 120,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSameLine": true,
    "importOrder": [
        "(^react/?(.*)$)",
        "(^next/?(.*)$)",
        "<THIRD_PARTY_MODULES>",
        "^app/?(.*)$",
        "^pages/?(.*)$",
        "^widgets/?(.*)$",
        "^features/?(.*)$",
        "^entities/?(.*)$",
        "^shared/?(.*)$",
        "^styles/?(.*)$",
        "^..?/\\w+$",
        "module.s?css$",
        ".s?css$",
        "^images/?(.*)$",
        "^media/?(.*)$",
        ".(png|svg|webp|jpe?g|gif|webw|mp4|mp3|avi)$"
    ],
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}