.future {
    height: 80vh;
    overflow: hidden;
    background-color: #f8f8f8;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &._animated {
        .future_grid {
            &::after,
            &::before {
                transform: translate(0, -51%);
            }
        }
    }
}

.future_wrapper {
    max-width: 1120px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.future_grid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1512px;

    mask: linear-gradient(to right, transparent, black 2%, black, black 98%, transparent);

    svg {
        stroke: rgba(#000, 0.12);
        path {
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
        }
    }

    img {
        display: none;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        width: 7.87%;
        aspect-ratio: 1 / 3.235;
        position: absolute;
        background: url("/img/home-new/future-lines.svg");
        opacity: 0.12;
        transition: transform 1500ms ease 1000ms;
    }
    &::before {
        top: 50%;
        left: 0;
        transform: translate(-100%, -51%);
    }
    &::after {
        top: 50%;
        right: 0;
        transform: translate(100%, -51%);
    }
}

.future_label {
    @include setFontPublicSans600(14px, 1.2, 0.04em, getColorPink());
    text-transform: uppercase;
    margin-bottom: 50px;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
}

.future_title {
    max-width: 14.5em;
    text-align: center;
    color: #c8047d;
    @include setFontClashGrotest500(55px, 0.9, -0.02em);
}

.future_text {
    text-align: center;
    @include setFontClashGrotest500(55px, 1.255, -0.01em, getColorBlack());
}

@include -screen-xxxl {
    .future_grid {
        width: 1360px;
    }
    .future_title {
        font-size: 56px;
    }
    .future_label {
        bottom: 137%;
    }
}

@include -screen-lg {
    .future_grid {
        width: 1100px;
    }
    .future_title {
        font-size: 48px;
    }
    .future_label {
        bottom: 131%;
    }
    .future_text {
        margin-top: 20px;
    }
}

@include -screen-md {
    .future_grid {
        width: 133%;

        svg {
            display: none;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .future_label {
        position: relative;
        inset: auto;
        text-align: center;
        transform: none;
    }
    .future_title {
        margin-top: 24px;
    }
}

@include -screen-sm {
    .future_title {
        font-size: 44px;
    }
}

@media screen and (max-width: 360px) {
    .future_title {
        font-size: 36px;
    }
    .future_text {
        font-size: 14px;
    }
}

.heading {
    color: #191e28;
    @include setFontClashGrotest500(55px, 1.255, -0.01em);
}

.text {
    color: #444a55;
    margin-top: 5px;
    margin-bottom: 25px;
    @include setFontPublicSans400(18px, 1.2, 0.04em);
}
