.apply {
    padding: 40px 36px;
    border-radius: 30px;
    background: linear-gradient(90deg, #ea36a4 -9.56%, #f997d0 100%);
}

.title {
    font: 500 28px/1 $kFontClashGrotesk;
    letter-spacing: -0.01em;
    color: #fff;
}

.text {
    margin-top: 28px;

    color: rgba(#fff, 0.9);
}

@media screen and (max-width: $kLaptopM) {
    .apply {
        padding: 32px 28px;
    }
}

@media screen and (max-width: $kTabletM) {
    .apply {
        padding: 26px 20px;
        border-radius: 25px;
    }

    .title {
        font-size: 24px;
    }

    .text {
        margin-top: 18px;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .title {
        font-size: 20px;
    }
}
