.cloud {
    height: 110vh;
    background: url("/img/subscribe/subscribe.png");
    background-color: #f8f8f8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
