.about {
    overflow: hidden;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;

    &._animated {
        .about_grid {
            &::after,
            &::before {
                transform: translate(0, -51%);
            }
        }
    }
}

.about_wrapper {
    max-width: 1120px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_grid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1512px;

    mask: linear-gradient(to right, transparent, black 2%, black, black 98%, transparent);

    svg {
        stroke: rgba(#000, 0.12);
        path {
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
        }
    }

    img {
        display: none;
    }

    &::after,
    &::before {
        content: "";
        display: block;
        width: 7.87%;
        aspect-ratio: 1 / 3.235;
        position: absolute;
        background: url("/img/home-new/about-lines.svg");
        opacity: 0.12;
        transition: transform 1500ms ease 1000ms;
    }
    &::before {
        top: 50%;
        left: 0;
        transform: translate(-100%, -51%);
    }
    &::after {
        top: 50%;
        right: 0;
        transform: translate(100%, -51%);
    }
}

.about_label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 110%;
    @include setFontPublicSans600(14px, 1.2, 0.04em, getColorPink());
    text-transform: uppercase;
}

.about_title {
    max-width: 14.5em;
    text-align: center;
    color: #c8047d;
    font-family: "Clash Grotesk", sans-serif;
    letter-spacing: -2%;
    line-height: 57px;
}

.about_text {
    text-align: center;
    font-family: "Clash Grotesk", sans-serif;
    letter-spacing: -2%;
    line-height: 57px;
}

@include -screen-xxxl {
    .about_grid {
        width: 1360px;
    }
    .about_title {
        font-size: 56px;
    }
    .about_label {
        bottom: 137%;
    }
}

@include -screen-lg {
    .about_grid {
        width: 1100px;
    }
    .about_title {
        font-size: 48px;
    }
    .about_label {
        bottom: 131%;
    }
    .about_text {
        margin-top: 20px;
    }
}

@include -screen-md {
    .about {
        height: auto;
        padding: 60px 0;
    }

    .about_wrapper {
        padding: 0 25px;
    }

    .about_grid {
        width: 133%;
        svg {
            display: none;
        }
        img {
            display: block;
            width: 100%;
        }
    }

    .about_label {
        position: relative;
        inset: auto;
        text-align: center;
        transform: none;
        margin-bottom: 20px;
    }

    .about_title {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .about_text {
        font-size: 30px;
        line-height: 1.4;
        margin-top: 0;
    }
}

@include -screen-sm {
    .about {
        padding: 40px 0;
    }

    .about_title {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .about_text {
        font-size: 24px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 480px) {
    .about_wrapper {
        padding: 0 16px;
    }
}

@media screen and (max-width: 360px) {
    .about_title {
        font-size: 20px;
    }

    .about_text {
        font-size: 14px;
        line-height: 1.5;
    }
}

.section_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section_title {
    font-family: "Clash Grotesk", sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    color: #191e28;
}

.section_body {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0%;
    color: #444a55;
}

@include desktop {
    .section_wrapper {
        max-width: 706px;
        gap: 40px;
    }

    .section_title,
    .section_body {
        width: 75%;
    }

    .section_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #191e28;
        align-self: flex-start;
    }

    .section_body {
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #444a55;
        align-self: flex-end;
    }
}

@include tablet {
    .section_wrapper {
        max-width: 404px;
        gap: 40px;
    }
    .section_title,
    .section_body {
        width: 100%;
    }

    .section_title {
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .section_body {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }
}

@include mobile {
    .section_wrapper {
        gap: 24px;
        padding: 0px 12px;
    }
    .section_title,
    .section_body {
        width: 100%;
    }

    .section_title {
        font-size: 32px;
    }

    .section_body {
        font-size: 16px;
        line-height: 24px;
    }
}
