.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.arrow {
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.1s ease;

    svg {
        width: 13px;
        height: 13px;
    }

    &Next {
        transform: rotate(-180deg);
    }

    &:hover {
        background: darken(#f2f2f2, 5%);
    }
}

.monthBtn {
    font: 500 20px/1.02 $kFontClashGrotesk;
    color: #4f4f4f;
    padding: 4px 6px;
    border-radius: 4px;

    transition: background 0.1s ease;

    &:hover {
        background: rgba(#4f4f4f, 0.05);
    }
}
