.container {
    background-color: #f8f8f8;
    width: 100%;
    &._animated {
        .mediaItem,
        .partner_item {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/* Event Partners Styles */
.partners {
    padding: 60px 0 0px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -69px;
    background-color: #f8f8f8;
}

.partners_wrapper {
    max-width: 1120px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.partners_label {
    text-align: left;
    color: #191e28;
    text-transform: uppercase;
    font-family: "Clash Grotesk";
    font-weight: 700;
    line-height: 90%;
    letter-spacing: 0%;
    width: 100%;
    background-color: #ff6fc8;
}

.partners_grid {
    display: grid;
    width: 100%;
    margin-top: -106px;
}

.partner_item {
    border: 1px solid #cacbce;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: 274px;
    border-radius: 30px;
    width: 100%;
    transition: 0.5s ease;

    &:nth-child(1) {
        transition-delay: 0.1s;
    }

    &:nth-child(2) {
        transition-delay: 0.2s;
    }

    &:nth-child(3) {
        transition-delay: 0.3s;
    }

    &:hover {
        background-color: #f3f3f3;
    }
}

.partnerLogo {
    width: 226px;
    height: 100px;
    object-fit: contain;
}

/* Media Support Styles */
.media {
    padding: 30px 0 60px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media_wrapper {
    max-width: 1120px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.mediaGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.mediaRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}

.mediaItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 30px 20px;
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;

    // Stagger the animation for each logo
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            transition-delay: #{$i * 0.1}s;
        }
    }
}

.mediaLogo {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.media_support {
    padding: 60px 0 150px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -69px;
    background-color: #f8f8f8;
}

.media_grid {
    display: grid;
    width: 100%;
    margin-top: -106px;
}

.media_item {
    border: 1px solid #cacbce;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 274px;
    border-radius: 30px;
    width: 100%;
    transition: 0.5s ease;

    &:hover {
        background-color: #f3f3f3;
    }
}

.media_label {
    text-align: left;
    color: #191e28;
    text-transform: uppercase;

    font-family: "Clash Grotesk";
    font-weight: 700;

    width: 100%;
    background-color: #c480fe;
}

.video {
    width: 100%;
    height: auto;
    margin-top: -106px;
}

@include desktop {
    .partners_grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .media_grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .video {
        border-radius: 50px;
    }

    .partners_label {
        font-size: 40px;
        line-height: 90%;
        letter-spacing: 0%;
        margin-bottom: 40px;
        padding: 40px;
        padding-bottom: 109px;
        border-radius: 50px 50px 0px 0px;
    }

    .media_label {
        font-weight: 700;
        font-size: 40px;
        line-height: 90%;
        letter-spacing: 0%;
        padding: 40px;
        padding-bottom: 109px;
        border-radius: 50px 50px 0px 0px;
    }
}

@include tablet {
    .media_grid,
    .partners_grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .video {
        border-radius: 30px;
    }

    .partners_label {
        font-size: 32px;
        line-height: 90%;
        letter-spacing: 0%;
        margin-bottom: 40px;
        padding: 24px 40px;
        padding-bottom: 90px;
        border-radius: 30px 30px 0px 0px;
    }

    .media_label {
        font-weight: 700;
        font-size: 32px;
        line-height: 90%;
        letter-spacing: 0%;
        margin-bottom: 40px;
        padding: 24px 40px;
        padding-bottom: 90px;
        border-radius: 30px 30px 0px 0px;
    }
}

@include mobile {
    .media_grid,
    .partners_grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .video {
        border-radius: 30px;
        aspect-ratio: 1/2;
        background-color: #c480fe;
    }

    .partners_label {
        font-size: 32px;
        line-height: 90%;
        letter-spacing: 0%;
        margin-bottom: 40px;
        padding: 40px;
        padding-bottom: 109px;
        border-radius: 30px 30px 0px 0px;
    }
}
